<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @offer.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @offer.amount %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @offer.provider %>
</p>

<p>
  <strong>Shopper:</strong>
  <%= @offer.shopper_id %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
